.login{
	width: 224px;
	height: 176px;
	position: fixed;
	margin-left: -112px;
	left: 50%;
	top: 40%;
	background: #d6d6d6;
	border-radius: 8px;
	display: none;
}
.login form{
	margin: 20px auto;
	text-align: center;
	width: 180px;
	position: absolute;
	left: 50%;
	margin-left: -90px;
	top: 50%;
	margin-top: -80px;
}
.login form .text{
	text-indent: 5px;
	margin-top: 10px;
	height: 25px;
	width: 160px;
	position: absolute;
	left: 50%;
	margin-left: -82px;
	outline: none;
}
.number{
	top: 5px;
}
.password{
	top: 45px;
}
.input-con{
	height: 80px;
	text-align: center;
	margin-top: 10px;
}
.login form .checkbox{
	height: 14px;
	width: 14px;
}
.login form p{
	margin-top: 10px;
	float: left;
	font-size: 13px;
	margin-right: 5px;
}
.login form .forget{
	float: right;
	margin-right: 0px;
}
.m-t{
	height: 30px;
	width: 160px;
	margin: 0 auto;
}
.button{
	width: 160px;
	height: 40px;
	margin: 10px auto;
}
.button input{
	padding: 3px 13px 3px 13px;
	float: left;
	background: #009ae4;
	border: none;
	color: #ffeee1;
	font-weight: bold;
	border-radius: 3px;
}
.reg-btn{
	padding: 3px 13px 3px 13px;
	position: absolute;
	left: 135px;
	top: 138px;
	background: #009ae4;
	border: none;
	color: #ffeee1;
	font-weight: 800;
	border-radius: 3px;
}
.reg{
	width: 224px;
	height: 180px;
	position: fixed;
	left: 50%;
	margin-left: -112px;
	top: 40%;
	background: #d6d6d6;
	border-radius: 5px;
	display: none;
}
.reg form{
	width: 164px;
	height: 180px;
	margin: 0 auto;
	position: relative;
}
.reg-account, .reg-pwd, .reg-pwd2{
	width: 160px;
	height: 26px;
	position: absolute;
	text-indent: 5px;
	outline: none;
}
.reg-account{
	top: 20px;
}
.reg-pwd{
	top: 60px;
}
.reg-pwd2{
	top: 100px;
}
.reg-submit{
	position: absolute;
	top: 140px;
	left: 50%;
	margin-left: -27px;
	padding: 3px 13px 3px 13px;
	background: #009ae4;
	border: none;
	color: #ffeee1;
	font-weight: 800;
	border-radius: 3px;

}
.close{
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	color: #ffeee1;
	float: right;
	font-family: microsoft yahei;
}